<h1>Play a Game</h1>
<div class="row">
    <div class="col-6">
        <p><strong>Player 1:</strong></p>
    </div>
    <div class="col-6">
        dropdown
    </div>
</div>
<div class="row">
    <div class="col-6">
        <p><strong>Player 2:</strong></p>
    </div>
    <div class="col-6">
        dropdown
    </div>
</div>
<h2>Who won?</h2>
<div class="row">
    <div class="col-6">
        <a href="" class="btn btn-primary btn-block">player 1 name</a>
    </div>
    <div class="col-6">
        <a href="" class="btn btn-primary btn-block">player 2 name</a>
    </div>
</div>